<h1>Dominios</h1>

<% form_tag request.path, :class => 'search_form', :method => 'get' do %>
<% content_tag :label do %>
<%= text_field_tag 'search',  params[:search] %>
<% end %>
<%= submit_tag "Buscar",  :name => nil , :class=>"search_button" %>
<% end %>

<%=will_paginate @domain , :class => "paginationTop" %>
<table>
  <tr>
    <th class="name">Nombre</th>
    <th class="ttl">TTL</th>
    <th class="enabled">Activado</th>
    <th class="actions"></th>
    <th class="actions"></th>
    <th class="actions"></th>
  </tr>
  <%style="row_alt"%>
<% @domain.each_with_index do |domain, index| %>
    <tr class=<%=h style if index % 2 ==0 %>>
    <td><%=h domain.name %></td>
    <td><%=h domain.ttl %></td>
    <td><%=h domain.enabled %></td>
    <td><%= link_to 'Mostrar', domain %></td>
    <td><%= link_to 'Modficar', edit_domain_path(domain) %></td>
    <td><%= link_to 'Eliminar', domain, :confirm => "¿Está seguro que desea eliminar el registro?", :method => :delete %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @domain , :class => "paginationBottom"%>

<br />
